{"openapi":"3.1.0","info":{"title":"The Garden of the Forgotten Prompt: An Algorithmic Odyssey","version":"0.1.0"},"servers":[{"url":"https://adventure.wietsevenema.eu","description":"Production server"}],"paths":{"/game/look":{"get":{"summary":"Look","description":"Get the player's current location.\n\nReturns the current room, including its description.","operationId":"look","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Room"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/game/inventory":{"get":{"summary":"Inventory","description":"Get the player's current inventory.","operationId":"inventory","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/game/examine":{"post":{"summary":"Examine","description":"Allows the player to get a detailed description of an item or exit.","operationId":"examine","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExamineRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExamineResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/game/move":{"post":{"summary":"Move","description":"Move the player to a new room.\n\nYou move by providing an exit name.\nReturns the new room the player has moved to.","operationId":"move","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoveRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Room"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/game/start":{"post":{"summary":"Start Level","description":"Create a new game session for the player.","operationId":"start_level","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartLevelRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionInfo"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/game/levels":{"get":{"summary":"List Levels","description":"Get a list of all levels with their current state for the player.","operationId":"list_levels","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LevelInfo"},"title":"Response List Levels"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/game/take":{"post":{"summary":"Take","description":"Take an item from the current room and add it to the player's inventory.","operationId":"take","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TakeRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TakeResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/game/use":{"post":{"summary":"Use","description":"Use a thing, or two things on each other.","operationId":"use","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UseRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UseResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/game/drop":{"post":{"summary":"Drop","description":"Drop an item from the player's inventory into the current room.","operationId":"drop","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DropRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DropResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"DropRequest":{"properties":{"item_name":{"type":"string","title":"Item Name","description":"The name of the item to drop from the inventory."}},"type":"object","required":["item_name"],"title":"DropRequest"},"DropResponse":{"properties":{"message":{"type":"string","title":"Message","description":"A message describing the result of the drop."}},"type":"object","required":["message"],"title":"DropResponse"},"ExamineRequest":{"properties":{"target":{"type":"string","title":"Target","description":"The name of the item or exit to examine."}},"type":"object","required":["target"],"title":"ExamineRequest"},"ExamineResponse":{"properties":{"description":{"type":"string","title":"Description"}},"type":"object","required":["description"],"title":"ExamineResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"InventoryResponse":{"properties":{"inventory":{"items":{"type":"string"},"type":"array","title":"Inventory","description":"The player's inventory."}},"type":"object","required":["inventory"],"title":"InventoryResponse"},"LevelInfo":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"description":{"type":"string","title":"Description"},"highscore":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Highscore"},"state":{"type":"string","title":"State"}},"type":"object","required":["id","name","description","state"],"title":"LevelInfo"},"MoveRequest":{"properties":{"exit_name":{"type":"string","title":"Exit Name","description":"The name of the exit to use."}},"type":"object","required":["exit_name"],"title":"MoveRequest"},"Room":{"properties":{"name":{"type":"string","title":"Name"},"description":{"type":"string","title":"Description"}},"type":"object","required":["name","description"],"title":"Room"},"SessionInfo":{"properties":{"id":{"type":"string","title":"Id"},"level_id":{"type":"string","title":"Level Id"},"level_name":{"type":"string","title":"Level Name"},"state":{"$ref":"#/components/schemas/SessionState"},"intro_text":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Intro Text"}},"type":"object","required":["id","level_id","level_name","state"],"title":"SessionInfo"},"SessionState":{"type":"string","enum":["created","started","finished","canceled"],"title":"SessionState","description":"Represents the state of a game session."},"StartLevelRequest":{"properties":{"level_id":{"type":"string","title":"Level Id"}},"type":"object","required":["level_id"],"title":"StartLevelRequest"},"TakeRequest":{"properties":{"item_name":{"type":"string","title":"Item Name","description":"The name of the item to take from the current room."}},"type":"object","required":["item_name"],"title":"TakeRequest"},"TakeResponse":{"properties":{"message":{"type":"string","title":"Message","description":"A message confirming the result of the take action."},"item":{"type":"string","title":"Item","description":"The name of the item that was taken."},"level_complete":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Level Complete","description":"Whether taking this item completed the level."}},"type":"object","required":["message","item"],"title":"TakeResponse"},"UseRequest":{"properties":{"direct_object":{"type":"string","title":"Direct Object","description":"The name of the direct object. An object can be an item in your inventory, an item in the room, or an exit."},"indirect_object":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Indirect Object","description":"The name of the indirect object. If provided, the game attempts to use `direct_object` and `indirect_object` on each other."}},"type":"object","required":["direct_object"],"title":"UseRequest"},"UseResponse":{"properties":{"message":{"type":"string","title":"Message","description":"A message describing the result of the use action."}},"type":"object","required":["message"],"title":"UseResponse"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"Authorization"}}}}